#####   LIVE INSTAGRAM WHITOUT TOKEN
##### 		By "DP" from Rome - IT
##### 
##### 	EXAMPLE :  MESSI 	
#####	set permission 744 /var/www/html/livecount/
#####	add Crontab every 5 minutes

# followers instagram.com 
*/5 * * * * /var/www/html/livecount/followers.sh

# follow instagram.com 
*/5 * * * * sleep 20 && /var/www/html/livecount/follow.sh

# post instagram.com 
*/5 * * * * sleep 35 && /var/www/html/livecount/post.sh

# followers webstagram.com 
*/5 * * * * sleep 45 && /var/www/html/livecount/webstagramfollowers.sh

# follow webstagram.com 
*/5 * * * * sleep 55 && /var/www/html/livecount/webstagramfollow.sh

# post webstagram.com 
*/6 * * * * sleep 15 && /var/www/html/livecount/webstagrampost.sh

#####	enjoy
#####	end
